<div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start text-center text-lg-start">
  <div class="bg-light rounded-3">
    <div>
      <h1 class="responsive-header">Drive results through reliable insights.</h1>
      <p class="pulse-content m-0">Simple customer success solutions within Salesforce, without the high cost of implementation and adoption.</p>
      <div class="d-flex justify-content-center justify-content-lg-start">
        <button class="purple-button my-4 my-md-3">Book a demo</button>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6 d-flex align-items-center">
  <div class="bg-light rounded-3">
    <div>
      <img src="{{ url_for('static', filename='images/pulse_preview/pulse-widget.svg') }}" 
      class="responsive-image"
      alt="Pulse Image">
    </div>
  </div>
</div>
