<h2 class="mb-5 h2-header-class text-center text-md-center text-lg-start">How our products can help</h2>
<div class="d-flex flex-column flex-lg-row justify-content-lg-between">
  <div class="col-12 col-md-12 col-lg-3 mb-4 mb-lg-0 text-center text-lg-start">
    <div class="benefit-item">
      <span class="material-symbols-outlined material-symbol-style">bar_chart</span>
      <h5><strong>Quality Reporting</strong></h5>
      <p class="m-0">Improve customer success management</p>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-3 mb-4 mb-lg-0 text-center text-lg-start">
    <div class="benefit-item">
      <span class="material-symbols-outlined material-symbol-style">schedule</span>
      <h5><strong>Time Saving</strong></h5>
      <p class="m-0">Less time on implementation</p>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-3 mb-4 mb-lg-0 text-center text-lg-start">
    <div class="benefit-item">
      <span class="material-symbols-outlined material-symbol-style material-money-position">attach_money</span>
      <h5><strong>Cost Efficiency</strong></h5>
      <p class="m-0">Save money using existing tools</p>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-3 mb-4 mb-lg-0 text-center text-lg-start">
    <div class="benefit-item">
      <span class="material-symbols-outlined material-symbol-style material-fullscreen-position">fullscreen</span>
      <h5><strong>Uniformity</strong></h5>
      <p class="m-0">Keep all data in one place</p>
    </div>
  </div>
</div>
