<div class="rounded-3">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <p class="customer-content mb-3">Join these companies who have chosen the simple approach</p>
    <div class="d-flex flex-lg-row flex-column justify-content-center m-1">
      <img class="customer-logo m-3" src="{{ url_for('static', filename='images/customer_logos/fantazscores-logo.svg') }}" alt="FantaZscores Logo">
      <img class="customer-logo m-3" src="{{ url_for('static', filename='images/customer_logos/fittes-logo.svg') }}" alt="Fittes Logo">
      <img class="customer-logo m-3" src="{{ url_for('static', filename='images/customer_logos/propcheck-logo.svg') }}" alt="PropCheck Logo">
    </div>
  </div>        
</div>