<h2 class="mb-4 h2-header-class">Our Products</h2>
<a href="{{ url_for('main.pulse') }}" class="col-md-6 mb-3 mb-md-0 d-flex text-decoration-none" style="color: inherit;">
  <div class="card-box w-100">
    <div class="label-green">
      <span class="label-text">Beta</span>
    </div>
    <div class="card-content">
      <div class="d-flex align-items-center">
        <h2 class="mb-0" style="font-size: 2rem;">Pulse</h2>
      </div>
      <p class="py-1">Customer sentiment monitoring seamlessly integrated with Salesforce.</p>
    </div>
    <div class="d-flex align-items-center">
        <span class="button-text">Get Started</span>
        <i class="bi bi-arrow-right"></i>
    </div>
  </div>
</a>
<a href="{{ url_for('main.onboard') }}" class="col-md-6 mb-3 mb-md-0 d-flex text-decoration-none" style="color: inherit;">
  <div class="card-box w-100"> 
    <div class="label-yellow">
      <span class="label-text">In Development</span>
    </div>
    <div class="card-content">
      <div class="d-flex align-items-center">
        <h2 class="mb-0" style="font-size: 2rem;">Onboard</h2>
      </div>
      <p class="py-1">A Salesforce-integrated tool to track and optimize customer onboarding, ensuring a seamless and efficient experience.</p>
    </div>
    <div href="{{ url_for('main.onboard') }}" class="d-flex align-items-center">
      <span class="button-text">Learn More</span>
      <i class="bi bi-arrow-right"></i>
    </div>
  </div>
</a>