<div class="row align-items-md-stretch py-2">
  <div class="col-md-6">
    <div class="h-100 bg-white border-top border-primary border-3 rounded-1 p-5 shadow-sm">
      <h2>Pulse Tool</h2>
      <p>Simple and effective, meet our Pulse Tool, a customer sentiment monitoring solution aimed at helping you gain insights into your clients' needs.</p>
      <a href="{{ url_for('main.pulsetool') }}" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 bg-white border-top border-primary border-3 rounded-1 p-5 shadow-sm">
      <h2>Onboarding Tool</h2>
      <p>Coming Soon.</p>
    </div>
  </div>
</div>