<div class="row align-items-md-stretch py-2">
  <div class="col-md-6 mb-3 mb-md-0">
    <div class="h-100 bg-white border-top border-primary border-3 rounded-1 p-5 shadow-sm">
      <div class="d-flex align-items-center">
        <h2 class="mb-0">Pulse Tool</h2>
        <span class="ms-2 text-muted small">(Beta)</span>
      </div>
      <p>Gain insights into client needs with our Pulse Tool, a simple and effective customer sentiment monitoring solution, directly within Salesforce.</p>
      <a href="{{ url_for('main.pulsetool') }}" class="btn btn-primary">Get Started</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 bg-white border-top border-primary border-3 rounded-1 p-5 shadow-sm">
      <div class="d-flex align-items-center">
        <h2 class="mb-0">Onboarding Tool</h2>
        <span class="ms-2 text-muted small">(Coming Soon)</span>
      </div>
      <p>A Salesforce-integrated tool to track and optimize customer onboarding, ensuring a seamless and efficient experience.</p>
      <a href="{{ url_for('main.onboardingtool') }}" class="btn btn-primary">How it Works</a>
    </div>
  </div>
</div>