.card-box {
  background-color: #FFFFFF; 
  border: 1px solid #131313; 
  box-shadow: 4px 4px 0px #000000; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;

  /* Add transition for smooth animation */
  transition: box-shadow 0.3s ease-in-out;
}

/* Increase box-shadow size on hover */
.card-box:hover {
  box-shadow: 6px 6px 0px #000000;
}

.card-content {
    margin-bottom: auto;
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 58px;
  font-weight: 600;
  /* @media (max-width: 992px) {
    font-size: 58px;
  } */
}

h2 {
  font-size: 48px;
  font-weight: 600; 
}

p {
  font-family: 'Inter',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.card-content p {
  left: 16px;
  top: 92px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #131313;
}

.pulse-content {
  left: 16px;
  top: 92px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #131313;
}

.customer-content {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #131313;
  text-align: center;
}

.button-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #131313;
}


.bi {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 24px;
  color: #131313;
}


.label-green {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  position: absolute;
  width: 52px;
  height: 35px;
  right: 16px;
  top: 16px;
  background: #6CF7B0;
}
  
.label-yellow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  position: absolute;
  width: 136px;
  height: 35px;
  right: 16px;
  top: 16px;
  background: #FCFF69;
}

.label-text {
  height: 19px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #131313;
}

/* Define the pulse animation */
@keyframes pulse-arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the animation to the arrow on card hover */
.card-box:hover .bi-arrow-right {
  animation: pulse-arrow 1s infinite;
}

/* Figma CSS */
.navbar-nav {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}


/* Underline on hover */
.custom-nav-link:hover {
  border-bottom: 1px solid #131313;
  padding-bottom: 8px;
}

/* Underline on active page */
.nav-item .active {
  border-bottom: 1px solid #131313;
  padding-bottom: 8px;
}

.custom-input {
  height: 48px;
  padding: 0 20px; /* optional - add padding if you want the text to be indented */
  border-radius: 0;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 32px;
}

.custom-button {
  height: 48px;
  padding: 0 20px; /* adjust as needed to make the button wider */
  border: none; /* removes the default button border */
  border-radius: 0;
  background-color: #000000;
  color: #ffffff; /* change this to the color you want for the button text */
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #333333; /* change this to the color you want on hover */
  text-decoration: none;
  color: #ffffff; /* keeps the text color the same on hover */
}

@media (max-width: 1000px) {
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
    align-items: start;
  }
}