.card-box {
  background-color: #FFFFFF; 
  border: 1px solid #131313; 
  box-shadow: 4px 4px 0px #000000; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;

  /* Add transition for smooth animation */
  transition: box-shadow 0.3s ease-in-out;
}

/* Increase box-shadow size on hover */
.card-box:hover {
  box-shadow: 6px 6px 0px #000000;
}

.card-content {
    margin-bottom: auto;
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 58px;
  font-weight: 600;
  /* @media (max-width: 992px) {
    font-size: 58px;
  } */
}

h2 {
  font-size: 48px;
  font-weight: 600; 
}

p {
  font-family: 'Inter',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.card-content p {
  left: 16px;
  top: 92px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #131313;
}

.pulse-content {
  left: 16px;
  top: 92px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #131313;
}

.customer-content {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #131313;
  text-align: center;
}

.button-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #131313;
}


.bi {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 24px;
  color: #131313;
}


.label-green {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  position: absolute;
  width: 52px;
  height: 35px;
  right: 16px;
  top: 16px;
  background: #6CF7B0;
}
  
.label-yellow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  position: absolute;
  width: 136px;
  height: 35px;
  right: 16px;
  top: 16px;
  background: #FCFF69;
}

.label-text {
  height: 19px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #131313;
}

/* Define the pulse animation */
@keyframes pulse-arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the animation to the arrow on card hover */
.card-box:hover .bi-arrow-right {
  animation: pulse-arrow 1s infinite;
}

/* Figma CSS */
.navbar-nav {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}


/* Underline on hover */
.custom-nav-link:hover {
  border-bottom: 1px solid #131313;
  padding-bottom: 8px;
}

/* Underline on active page */
.nav-item .active {
  border-bottom: 1px solid #131313;
  padding-bottom: 8px;
}

.custom-input {
  height: 48px;
  padding: 0 20px; /* optional - add padding if you want the text to be indented */
  border-radius: 0;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 32px;
}

.custom-button {
  height: 48px;
  padding: 0 20px; /* adjust as needed to make the button wider */
  border: none; /* removes the default button border */
  border-radius: 0;
  background-color: #000000;
  color: #ffffff; /* change this to the color you want for the button text */
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #333333; /* change this to the color you want on hover */
  text-decoration: none;
  color: #ffffff; /* keeps the text color the same on hover */
}

@media (max-width: 1000px) {
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
    align-items: start;
  }
}

.box-class {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  border: 1px solid #000;
  background: #FFF;
  padding: 24px;
  height: 100%;
}

.box-class .thumbnail-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 30px;
  transform: translateX(-50%);
  z-index: 2;
}

.box-class-content {
  color: #131313;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.box-class-content-footer {
  color: #131313;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1199px) {
  .box-class {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .box-class .thumbnail-image {
    top: -30px;
    left: 16px;
  }
}

@media (max-width: 767px) {
  .box-class {
    padding: 16px;
  }
}


.footer-class {
  background-color: #5E5AFF;
  flex-direction: row;
  justify-content: space-between;
}

.footer-link {
  margin-left: 32px;
  color: #000;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer-year-text {
  color: #FFF;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-left: 24px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-border {
  border-top: 1px solid;
}

.h2-header-class {
  font-size: 2rem;
}

/* benefits section */

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.benefit-item p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.material-symbol-style {
  font-size: 48px !important;
  color: #5E5AFF;
  position: relative;
}

.material-money-position {
  left: -12px;
}

.material-fullscreen-position {
  left: -7px;
}

@media (min-width: 992px) {
  .benefit-item {
    align-items: flex-start;
  }
  .col-12.col-md-12.col-lg-3.text-center.text-lg-start {
    text-align: start;
  }
}


/* logo section */

.company-logo-size {
  max-height: 50px;
  width: auto;
}

.custom-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

.pricing-container {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Changed this back to flex-start */
  flex: 1 0 0;
  padding: 0;
}

.pricing-header {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border: 1px solid #000;
  background: #1E1E1E;
  color: #FFF;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin: 0;
  text-align: left; /* Added this line */
}

.pricing-body {
  color: #131313;
  text-align: left; /* Changed this from center to left */
  font-size: 48px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  padding: 0px 24px;
}

.pricing-subheader {
  color: #5E5AFF;
  text-align: left; /* Added this line */
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 32px;
  padding: 0px 10px 20px 24px;
}

@media (max-width: 767px) {
  .pricing-container {
    flex: none;
  }
}
