<div class="row align-items-center">
  <div class="col-lg-6">
    <div class="rounded-3 contact-flex-container">
      <div>
        <h2 class="mb-4">Based in Toronto</h2>
        <p class="pulse-content my-2">550 Wellington St W, Toronto, ON, M5V 2V5</p>
      </div>
      <div class="contact-flex-content">
        {% include 'forms/contact_form.html' %}
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="bg-light rounded-3">
      <div class="map-container">
        <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.2418721935705!2d-79.40456642380559!3d43.643135853081645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34dfc285f235%3A0xfaa958e09846fe34!2s550%20Wellington%20St%20W%2C%20Toronto%2C%20ON%20M5V%202V5!5e0!3m2!1sen!2sca!4v1688419418181!5m2!1sen!2sca" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>  
</div>
