<div class="col-lg-6">
  <h2 class="mb-4 h2-header-class">Our Story</h2>
  <p class="pulse-content m-0 mb-3">The CS Toolkit was conceptualized in 2022 by Brendan McDonald, the founder, who recognized an opportunity to leverage the capabilities of Salesforce in order to simplify the lives of customer success teams.</p>
  <p class="pulse-content m-0 mb-3">Brendan had spent most of his career managing operations for various successful startups, where he met Stephen Smith, the co-founder and a director-level leader of a customer success team.</p>
  <p class="pulse-content m-0 mb-3">Over the years of working together and repeatedly adapting Salesforce to meet the needs of their CS team, they refined an idea into a product that has had a positive impact on numerous businesses and industries that prioritize customer centricity as a key driver for growth.</p>
  <p class="pulse-content m-0 mb-3">Today, many businesses choose the CS Toolkit because it is effective, affordable, and easy to implement, which are all crucial factors in a cost-saving business environment.</p>
</div>
