<h2 class="mb-4 h2-header-class text-center text-lg-start">Our Team</h2>
<div class="d-flex flex-column flex-lg-row justify-content-lg-between">
  <div class="col-lg-4 pt-5 px-3 mb-4 mb-lg-0 text-center text-lg-start">
    <div class="box-class">
      <img src="{{ url_for('static', filename='images/team_thumbnails/brendan.svg') }}" class="thumbnail-image" alt="Description of the image">
      <div class="box-class-content mt-5">
        <strong>Brendan McDonald</strong>
      </div>
      <div class="box-class-content">
        Brendan brings years of experience working with and developing Salesforce apps as a Data Ops Manager at PartnerStack.
      </div>
      <div class="box-class-content-footer">
        Developer
      </div>
    </div>
  </div>
  <div class="col-lg-4 pt-5 px-3 mb-4 mb-lg-0 text-center text-lg-start">
    <div class="box-class">
      <img src="{{ url_for('static', filename='images/team_thumbnails/stephen.svg') }}" class="thumbnail-image" alt="Description of the image">
      <div class="box-class-content mt-5">
        <strong>Stephen Smith</strong>
      </div>
      <div class="box-class-content">
        As the previous Director of Customer Success at PartnerStack, Stephen’s knowledge of SalesForce and CS processes guides the development of our product.
      </div>
      <div class="box-class-content-footer">
        Sales
      </div>
    </div>
  </div>
  <div class="col-lg-4 pt-5 px-3 mb-4 mb-lg-0 text-center text-lg-start">
    <div class="box-class">
      <img src="{{ url_for('static', filename='images/team_thumbnails/erin.svg') }}" class="thumbnail-image" alt="Description of the image">
      <div class="box-class-content mt-5">
        <strong>Erin McDonald</strong>
      </div>
      <div class="box-class-content">
        Bringing many years of experience in the UX, UI world, Erin helped craft web & product design for CS Toolkit. Her user-centric designs and innovative solutions ensure an engaging and intuitive interface.
      </div>
      <div class="box-class-content-footer">
        Visual Design
      </div>
    </div>
  </div>
</div>
