{% extends "layout/base.html" %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col">
      <div class="bg-white border-top border-primary border-3 rounded-1 my-3 py-3 px-5 shadow-sm">
        <h1 class="border-bottom border-primary border-1">About Us</h1>
        <p>CS Toolkit is a company focused on developing Salesforce Apps that bridge the gap between Salesforce as a CRM and Customer Success needs. Our goal is to help businesses enhance customer relationships and satisfaction by leveraging the Salesforce platform.</p>
        <p>We're currently in the beta stage, with our first app, Pulse Tool, already released. This easy-to-use tool allows users to monitor customer sentiment and gather insights to improve customer interactions.</p>
        <p>As we grow, we're committed to providing valuable and user-friendly solutions for businesses in the Salesforce ecosystem. To learn more about our Pulse Tool, click the link below:</p>
        <a href="{{ url_for('main.pulsetool') }}" class="btn btn-primary">Explore Pulse Tool</a>
      </div>
    </div>
    {% include 'components/sidebar.html' %}
  </div>
</div>
{% endblock content %}