{% extends "layout/base.html" %}
{% block content %}
<div class="container-fluid m-0 p-0">
  <div class="bg-light">
    <div class="container pt-3 pb-5">
      <div class="row">
        {% include 'components/about/banner-section.html' %}
      </div>
    </div>
  </div>
  <div class="section-border">
    <div class="container py-5">
      <div class="row">
        {% include 'components/about/story-section.html' %}
      </div>
    </div>
  </div>
  <div class="bg-light section-border">
    <div class="container py-5">
      <div class="row">
        {% include 'components/about/team-section.html' %}
      </div>
    </div>
  </div>
  <div class="section-border">
    <div class="container py-5">
      <div class="row">
        {% include 'components/about/contact-section.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
