{% extends "layout/base.html" %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col">
      <div class="bg-white border-top border-primary border-3 rounded-1 my-3 py-3 px-5 shadow-sm">
        <h1 class="border-bottom border-primary border-1">About CS Toolkit</h1>
        <h5>What we do</h5>
        <p>We develop Salesforce Apps that enhance Salesforce CRM capabilities - helping your business to better track customer needs and improve customer satisfaction.</p>
        <h5>Tools</h5>
        <p>The <a href="{{ url_for('main.pulse') }}">Pulse Tool</a> is in it's Beta release. This easy-to-use tool allows users to monitor customer sentiment and gather insights to improve customer interactions.</p>
        <p>The <a href="{{ url_for('main.onboardingtool') }}">Onboarding Tool</a> is in development. You can probably guess what it's going to do.</p>
        <h5>Contact</h5>
        <p>As we grow, we're committed to providing valuble and user-friendly solutions for businesses in the Salesforce ecosystem. If you have a Salesforce need that you think we can help with, contact <a href="mailto:wbmcdonald4@gmail.com">wbmcdonald4@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}