{% extends "layout/base.html" %}
{% block content %}
<div class="container-fluid m-0 p-0">
  <div class="bg-light">
    <div class="container py-5">
      <div class="row">
        {% include 'components/home/banner-section.html' %}
      </div>
    </div>
  </div>
  <!-- <div class="section-border"></div> add this back in if you want lines-->
  <div>
    <div class="container py-5">
      <div class="row">
        {% include 'components/home/logo-section.html' %}
      </div>
    </div>
  </div>
  <!-- <div class="section-border"></div> add this back in if you want lines-->
  <div class="bg-light">
    <div class="container py-5">
      <div class="row" >
        {% include 'components/home/product-section.html' %}
      </div>
    </div>
  </div>
</div>
<!-- <div class="section-border"></div> add this back in if you want lines-->
<div>
  <div class="container py-5">
    <div class="row">
      {% include 'components/home/benefits-section.html' %}
    </div>
  </div>
</div>
<!-- <div class="section-border"></div> add this back in if you want lines-->
<div class="bg-light">
  <div class="container py-5">
    <div class="row">
      {% include 'components/home/testimonials.section.html' %}
    </div>
  </div>
</div>
{% endblock content %}
