{% extends "layout/base.html" %}
{% block content %}
<div class="container-fluid m-0 p-0">
  <div class="bg-light">
    <div class="container">
      <div class="row py-4">
        <div class="col-lg-6">
          <div class="bg-light rounded-3">
            <div >
              <h1>Drive results through reliable insights.</h1>
              <p class="pulse-content">CS Toolkit provides affordable and intuitive customer success solutions, alleviating the burdens of high implementation costs and learning new systems.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="border-top: 1px solid;">
    <div class="container">
      <div class="row my-3">
        <div class="rounded-3">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <p class="pulse-content m-4">Join these companies who have chosen the simple approach</p>
            <div class="d-flex flex-md-row flex-column justify-content-center m-1">
              <img src="{{ url_for('static', filename='images/fantazscores.svg') }}" alt="FantaZscores Logo" class="img-fluid m-3" style="max-height: 50px; width: auto;">
              <img src="{{ url_for('static', filename='images/partnerstack.svg') }}" alt="PartnerStack Logo" class="img-fluid m-3" style="max-height: 50px; width: auto;">
              <img src="{{ url_for('static', filename='images/cstoolkit-logo.png') }}" alt="CSToolkit Logo" class="img-fluid m-3" style="max-height: 40px; width: auto;">
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light" style="border-top: 1px solid;">
    <div class="container">
      {% include 'components/cards.html' %}
    </div>
  </div>
</div>
{% endblock content %}
