{% extends "layout/base.html" %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col">
      <div class="bg-white border-top border-primary border-3 rounded-1 my-3 py-3 px-5 shadow-sm">
        <h1 class="border-bottom border-primary border-1">Onboarding Tool</h1>
        <p>The Onboarding Tool will be a Salesforce-integrated tool to track and optimize customer onboarding, ensuring a seamless and efficient experience.</p>
        <p>Enter your email below to get notified of the Beta Release.</p>
        {% include 'forms/onboarding_email_form.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

