{% extends "layout/base.html" %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col">
      <div class="bg-white border-top border-primary border-3 rounded-1 my-3 py-3 px-5 shadow-sm">
        <h1 class="border-bottom border-primary border-1">Pulse Tool</h1>
        <p>The Pulse Tool empowers Customer Success Managers with seamless customer sentiment monitoring directly within Salesforce.</p>
        <h2 class="border-bottom border-primary border-1">Features</h2>
        <ul>
          <li><strong>Native Salesforce App: </strong>Streamlines user experience by operating within the Salesforce ecosystem without external tools.</li>
          <li><strong>Simplified UI: </strong>Effortlessly input pulse data using the intuitive, rainbow-like interface on the account page.</li>
          <li><strong>Latest Pulse: </strong>Showcases the most recent pulse on the account page for quick and convenient access.</li>
          <li><strong>Custom Object: </strong>Safely houses pulse data within your Salesforce instance, ensuring effortless data retrieval.</li>
        </ul>
        <h2 class="border-bottom border-primary border-1">Installation</h2>
        <p>Installing the Pulse Tool is quick and easy. Simply enter your email to gain access to the installation link.</p>
        {% include 'forms/email_capture_form.html' %}
        <h2 class="border-bottom border-primary border-1">Product Demo</h2>
        <p>Watch the video below to see the Pulse Tool in action and learn how it assist your Customer Success team.</p>
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/xBgIZ6gFNhc" title="Pulse Tool Demo Video" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

