{% extends "layout/base.html" %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col">
      <div class="bg-white border-top border-primary border-3 rounded-1 my-3 py-3 px-5 shadow-sm">
        <h1 class="border-bottom border-primary border-1">Pulse Tool</h1>
        <p>Introducing our Pulse Tool, a customer sentiment monitoring solution designed to help you gain insights into your clients' needs. With a straightforward interface, the Pulse Tool provides a space for Customer Success users to input the sentiment of the customer based on their last interaction. This information is then displayed directly on the Salesforce record page. By allowing users to build their own customized reporting and analysis, the Pulse Tool empowers businesses to better understand their customers and foster stronger relationships.</p>
        <h1 class="border-bottom border-primary border-1">Installation</h1>
        <p>Installing the Pulse Tool is quick and easy. Simply enter your email to gain access to the installation link. Then follow the steps to install it onto your Salesforce instance.</p>
        {% include 'forms/email_capture_form.html' %}
        <h1 class="border-bottom border-primary border-1">Product Demo</h1>
        <p>Watch the video below to see the Pulse Tool in action and learn how it assist your Customer Success team.</p>
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/xBgIZ6gFNhc" title="Pulse Tool Demo Video" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

