{% extends "layout/base.html" %}
{% block content %}
<div class="container-fluid m-0 p-0">
  <div class="bg-light">
    <div class="container py-5">
      <div class="row">
        {% include 'components/pulse/banner-section.html' %}
      </div>
    </div>
  </div>
  <!-- <div class="section-border"></div> add this back in if you want lines-->
  <div>
    <div class="container py-5">
      <div class="row">
        {% include 'components/pulse/pricing-section.html' %}
      </div>
    </div>
  </div>
  <!-- <div class="section-border"></div> add this back in if you want lines-->
  <div class="bg-light">
    <div class="container py-5">
      <div class="row" >
        {% include 'components/pulse/feature-section.html' %}
      </div>
    </div>
  </div>
  <!-- <div class="section-border"></div> add this back in if you want lines-->
  <div>
    <div class="container py-5">
      <div class="row" >
        {% include 'components/pulse/salesforce-section.html' %}
      </div>
    </div>
  </div>
  <!-- <div class="section-border"></div> add this back in if you want lines-->
  <div class="bg-light">
    <div class="container py-5">
      <div class="row" >
        {% include 'components/pulse/demo-section.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
