<div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start text-center text-lg-start">
  <div class="bg-light rounded-3">
    <div>
      <h1>Pulse</h1>
      <p class="pulse-content m-0">Customer sentiment monitoring seamlessly integrated with Salesforce</p>
      <div class="d-flex justify-content-center justify-content-lg-start">
        <a class="nav-link" href="https://calendly.com/brendan-mcdonald/30min" target="_blank">
          <button class="purple-button my-4 my-md-3">Book a demo</button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6 d-flex align-items-center">
  <div class="bg-light rounded-3">
    <div>
      <img src="{{ url_for('static', filename='images/pulse_preview/pulse-reporting.svg') }}" 
      class="responsive-image"
      alt="Pulse Image">
    </div>
  </div>
</div>