<div class="col-lg-6">
  <div class="bg-light rounded-3">
    <div >
      <h1>Pulse</h1>
      <p class="pulse-content m-0">Customer sentiment monitoring seamlessly integrated with Salesforce</p>
      <!-- <button class="custom-button">Book a demo</button> -->
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="bg-light rounded-3">
    <div>
      <img src="{{ url_for('static', filename='images/pulse_preview/pulse-widget.svg') }}" 
      class="responsive-image"
      alt="Pulse Image">
    </div>
  </div>
</div>