<div class="custom-container">
  <h2 class="h2-header-class mb-4">Benefits & Features</h2>
  <div class="feature-container-group">
    <div class="feature-container my-4">
      <span class="material-symbols-outlined material-icons md-80">stethoscope</span>
      <div>
        <h3 class="feature-header">Actively monitor the health of your accounts</h3>
        <p class="feature-body">Identify pain points, bottlenecks and areas for improvement within your customer experience.</p>
      </div>
    </div>
    <div class="feature-container my-4">
      <span class="material-symbols-outlined material-icons md-80">box</span>
      <div>
        <h3 class="feature-header">Aggregate customer sentiment</h3>
        <p class="feature-body">Consolidate important notes on customer sentiment all in one place.</p>
      </div>
    </div>
    <div class="feature-container my-4">
      <span class="material-symbols-outlined material-icons md-80">insights</span>
      <div>
        <h3 class="feature-header">Data driven decision making for your teams</h3>
        <p class="feature-body">Gain insights that inform decisions on marketing, customer segmentation, and business development.</p>
      </div>
    </div>
  </div>
</div>
