<p class="customer-content mb-3">Pulse pricing per company</p>
<div class="row">
  <div class="col-lg-4 mb-3 mb-md-0">
    <div class="pricing-container m-2">
      <div class="pricing-header">
        Weekly Trial
      </div>
      <div class="pricing-body">
        $0
      </div>
      <div class="pricing-subheader">
        free trial
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-3 mb-md-0">
    <div class="pricing-container m-2">
      <div class="pricing-header">
        Monthly
      </div>
      <div class="pricing-body">
        $29
      </div>
      <div class="pricing-subheader">
        cancel at anytime
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-3 mb-md-0">
    <div class="pricing-container m-2">
      <div class="pricing-header">
        Annual
      </div>
      <div class="pricing-body">
        $265
      </div>
      <div class="pricing-subheader">
        Save 15%
      </div>
    </div>
  </div>
  <!-- <button class="custom-button">Book a demo</button> -->
</div>
