<p class="customer-content mb-3">Pulse pricing per company</p>
<div class="row">
  <div class="col-lg-4 mb-3 mb-md-0">
    <div class="pricing-container m-2">
      <div class="pricing-header">
        Weekly Trial
      </div>
      <div class="pricing-body">
        $0 USD
      </div>
      <div class="pricing-subheader">
        free trial
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-3 mb-md-0">
    <div class="pricing-container m-2">
      <div class="pricing-header">
        Monthly
      </div>
      <div class="pricing-body">
        $29 USD
      </div>
      <div class="pricing-subheader">
        cancel at anytime
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-3 mb-md-0">
    <div class="pricing-container m-2">
      <div class="pricing-header">
        Annual
      </div>
      <div class="pricing-body">
        $295 USD
      </div>
      <div class="pricing-subheader">
        Save 15%
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a class="nav-link" href="https://appexchange.salesforce.com/appxListingDetail?listingId=a0N3000000B4QS2EAN" target="_blank">
      <button class="purple-button my-4 my-md-3">View on AppExchange</button>
    </a>
  </div>
</div>
