<div class="col-6">
      <p class="customer-content mb-5">Built for Salesforce</p>
      <img src="{{ url_for('static', filename='images/salesforce/salesforce-logo.svg') }}" 
            class="responsive-image salesforce-logo"
            alt="Pulse Image">
      

</div>


<div class="col-6">
      <p class="customer-content m-3">Empower your team with a familiar and user-friendly tool, streamlining integration into their daily routines.</p>
      <ul class="customer-content">
            <li>Native Salesforce App</li>
            <li>Simplified User Interface</li>
            <li>Filterable Reporting</li>
            <li>Export Data Easily</li>
            
      </ul>

</div>
