<div class="col-lg-6 d-flex justify-content-center my-5">
  <div>
    <p class="customer-content mb-3 text-center">Built for Salesforce</p>
    <img src="{{ url_for('static', filename='images/salesforce/salesforce-logo.svg') }}" 
      class="responsive-image salesforce-logo"
      alt="Salesforce Logo">
  </div>
</div>
<div class="col-lg-6 my-5">
  <p class="customer-content mb-3 text-center">Empower your team with a familiar and user-friendly tool, streamlining integration into their daily routines.</p>
  <ul class="customer-content text-center custom-list">
    <li>Native Salesforce App</li>
    <li>Simplified User Interface</li>
    <li>Filterable Reporting</li>
    <li>Export Data Easily</li>
  </ul>
</div>
<div class="d-flex justify-content-center">
  <a class="nav-link" href="https://appexchange.salesforce.com/appxListingDetail?listingId=a0N3000000B4QS2EAN" target="_blank">
    <button class="purple-button my-4 my-md-3">View on AppExchange</button>
  </a>
</div>
